{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    <div class="container myCart">
        <div class="row m-0 justify-content-between align-items-start">
          <div class="col-7 border border-1 p-0 myCart">
                  <p class="py-2 m-0 myCartTitle">Mon panier</p>


                  <div class="container  p-3">
                      {% if app.user.cart|length == 0%}
                          <p class="text-center">Votre panier est vide</p>
                          {% else %}
                              {% for item in cartObject %}
                                  <div class="card">
                                      <div class="card-body ">
                                          <div class="d-flex justify-content-between">
                                              <div class="d-flex">
                                                  {% for image in item.product.images %}
                                                      {% if loop.first %}
                                                          <div class="">
                                                              <img src="{{ vich_uploader_asset(image,'imageFile') }}" alt="" style="width:130px">
                                                          </div>
                                                      {% endif %}
                                                  {% endfor %}
                                                  <div class="ms-4">
                                                      <p class="text-lowercase ">{{ item.product.name }}</p>
                                                      <div>
                                                          <a href="{{ path('cart_add',{id:item.product.id}) }}" class="btn btn-light">+</a>
                                                          <p class="btn btn-light m-0">{{ item.quantity }}</p>
                                                          <a href="{{ path('cart_remove',{id:item.product.id}) }}" class="btn btn-light" >-</a>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div>
                                                  <a href="{{ path('cart_removerow',{id:item.product.id}) }}" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="card-footer ">
                                          <p class="text-end m-0 mb-2">Sous-total ({{ item.quantity }}) articles : <strong>{{ item.product.priceHt * item.quantity }}</strong><sup>€</sup></p>
                                      </div>
                                  </div>
                              {% endfor %}
                      {% endif %}

                  </div>
              </div>

            <div class="col-4 border border-1 p-0 myCommand">
                <p class="mb-3 py-2 myCommandTitle">Détails de ma commande</p>
                <h5 class="ps-4">Total : {{ total }} <sup>€</sup></h5>
                <hr>
                <p class="text-center m-0" style="font-size: 17px">Adresse de livraison</p>
                {% if app.user.address|length == 0 %}
                    <div class="d-flex justify-content-center mt-3">
                        <a href="{{ path('new_user_address') }}" class="btn btn-success">Enregistrer une adresse</a>
                    </div>

                {% else %}
                        {% for address in addresses %}

                            <div class="d-flex justify-content-center my-3">
                                <a href="{{ path('order',{id:address.id}) }}" class="btn btn-success">{{ address.number }} {{ address.street }} {{ address.postalCode }} {{ address.city }}</a>
                            </div>



                        {% endfor %}
                {% endif %}

                <div class="d-flex justify-content-around fs-1 my-3">
                    <i class="fa-brands fa-cc-visa"></i><i class="fa-brands fa-cc-amex"></i><i class="fa-brands fa-cc-mastercard"></i><i class="fa-brands fa-cc-paypal"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
