{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="container userInfo">
        <div class="row my-5 container">
            <div class="col-3 p-0 d-flex flex-column align-items-center">
                <div class="mt-4">
                    <a href="{{ path('admin_user') }}" class="d-flex align-items-center m-3"><i class="far fa-user me-3"></i><p class="m-0">Clients</p></a>
                    <a href="{{ path('admin_order') }}" class="d-flex align-items-center m-3"><i class="fas fa-shipping-fast me-3"></i><p class="m-0">Commandes</p></a>
                    <a href="{{ path('admin_product') }}" class="d-flex align-items-center m-3"><i class="fas fa-barcode me-3"></i><p class="m-0">Produits</p></a>
                    <a href="{{ path('new_product') }}" class="d-flex align-items-center m-3 ms-5 newProduct"><i class="fa-solid fa-folder-plus me-2"></i><p class="m-0">New</p></a>
                    <a href="{{ path('admin_category') }}" class="d-flex align-items-center m-3 ms-4 newAddress"><i class="far fa-folder-open me-2"></i><p class="m-0">Catégories</p></a>
                    <a href="{{ path('new_productCategory') }}" class="d-flex align-items-center m-3 ms-5 newProduct"><i class="fa-solid fa-folder-plus me-2"></i><p class="m-0">New</p></a>
                    <a href="{{ path('admin_subCategory') }}" class="d-flex align-items-center m-3 ms-4 newAddress"><i class="fa-solid fa-folder-plus me-2"></i><p class="m-0">Sous-catégories</p></a>
                    <a href="{{ path('product_sub_category_new') }}" class="d-flex align-items-center m-3 ms-5 newProduct"><i class="fa-solid fa-folder-plus me-2"></i><p class="m-0">New</p></a>
                </div>

            </div>
            <div class="col-9 p-0">
                <div class="bg-white m-4">
                    <div class="px-4">
                        <div class="">
                            <h5 class="pt-2 fw-bold">Sous Catégories de produit</h5>
                        </div>
                        <div class="py-3">
                            {% for category in categories %}
                                <table class="table table-striped">
                                <thead class="align-items-center">
                                <tr style="font-size: 13px">
                                    <th>{{ category.name }}</th>
                                    <th>Animal</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subcategory in category.productSubCategories %}
                                    <tr>
                                        <td>{{subcategory.name }} </td>
                                        <td>{{ subcategory.animalCategory.name }}</td>
                                        <td>
                                            <a href="{{ path('edit_productSubCategory',{id:subcategory.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a href="" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                    </tbody>
                                    </table>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/e772130b79.js" crossorigin="anonymous"></script>

{% endblock %}
