{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme formProduct 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h1>Register</h1>

    {{ form_start(formProduct) }}
    {{ form_row(formProduct.animalCategory) }}
    {{ form_row(formProduct.productCategory) }}
    {{ form_row(formProduct.productSubCategory) }}
    {{ form_row(formProduct.name) }}
    {{ form_row(formProduct.description) }}
    {{ form_row(formProduct.priceHt) }}
    <ul class="tags"
        data-index="{{ formProduct.images|length > 0 ? formProduct.images|last.vars.name + 1 : 0 }}"

        data-prototype="{{ form_widget(formProduct.images.vars.prototype)|e('html_attr') }}"


    ></ul>

    <button type="button" class="add_item_link" data-collection-holder-class="tags">Add a Picture</button>
    <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(formProduct) }}

    <script>


        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });
    </script>
{% endblock %}