{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}



{% block body %}



    <div class="row">
        <div class="col-2 ps-5 pt-5" style="background:linear-gradient(to bottom,black,white)">
            <a href="{{ path('user_edit') }}" class="d-flex align-items-center mb-3"><i class="fa-regular fa-user me-2 text-white"></i><p class="m-0 text-white">Modifier mon profil</p></a>
            <a href="{{ path('app_address') }}" class="d-flex align-items-center mb-3"><i class="fa-regular fa-address-book me-2 text-white"></i><p class="m-0 text-white">Mes adresses</p></a>
            <a href="{{ path('user_order') }}" class="d-flex align-items-center mb-3"><i class="fa-regular fa-clipboard me-2 text-white"></i><p class="m-0 text-white">Mes commandes</p></a>
            <a href="{{ path('user_delete') }}">Supprimer mon compte</a>
        </div>
        <div class="col-10 d-flex justify-content-center" style="background:linear-gradient(to left top, white,rgb(144, 92, 76));">
            <div class="bg-white m-4 displayUserProfile ">
                <div class="px-4">
                    <div class="">
                        <h5 class="">Mes informations personnelles</h5>
                    </div>
                    <div class="py-3">
                        <p><strong>Username</strong> : <em>{{ user.username }}</em></p>
                        <p><strong>Prénom</strong> : <em>{{ user.name }}</em></p>
                        <p><strong>Nom</strong> : <em>{{ user.lastName }}</em></p>
                        <p><strong>Créé le</strong> : <em>{{ user.createdAt|date('d/m/Y') }}</em></p>
                        <p><strong>Mail</strong> : <em>{{ user.email }}</em></p>

                    </div>
                </div>
            </div>
        </div>
    </div>








{% endblock %}
