{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}



{% block body %}

    <div class="row">
        <div class="col-2 ps-5 pt-5" style="background:linear-gradient(to bottom,black,white)">
            <a href="{{ path('user_edit') }}" class="d-flex align-items-center mb-3"><i class="fa-regular fa-user me-2 text-white"></i><p class="m-0 text-white">Modifier mon profil</p></a>
            <a href="{{ path('app_address') }}" class="d-flex align-items-center mb-3"><i class="fa-regular fa-address-book me-2 text-white"></i><p class="m-0 text-white">Mes adresses</p></a>
            <a href="{{ path('user_order') }}" class="d-flex align-items-center mb-3"><i class="fa-regular fa-clipboard me-2 text-white"></i><p class="m-0 text-white">Mes commandes</p></a>
        </div>
        <div class="col-10 d-flex justify-content-center" style="background:linear-gradient(to left top, white,rgb(144, 92, 76));">
            <div class="bg-white m-4 displayUserProfile col-10" >
                <div class="px-4">
                    <div class="">
                        <h5 class="">Commandes</h5>
                    </div>
                    <div class="py-3">
                        {% if app.user.orders|length == 0 %}
                            <p>pas commande</p>
                        {% else %}
                            {% for order in orders %}
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between" style="font-size: 11px">
                                        <div>
                                            OMMANDE EFFECTUEE LE {{ order.createdAt|date('d/m/Y') }}
                                        </div>
                                        <div>
                                            N° DE COMMANDE : {{ order.id }}
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        {% for item in order.orderItems %}
                                            {% for image in item.product.images %}
                                                {% if loop.first %}
                                                    <div class="d-flex">
                                                        <div class="mx-5">
                                                            <img src="{{ vich_uploader_asset(image,'imageFile') }}" alt="" style="width:70px">
                                                        </div>
                                                        <div>
                                                            <p class="text-uppercase " style="font-size: 12px">{{ item.product.name }}</p>
                                                            <p class="" style="font-size: 12px">Quantitée : {{ item.quantity }} </p>
                                                            <p class="" style="font-size: 12px"><strong>Total : {{ (item.product.priceHt * (1+(item.product.tva.rate/100))) * item.quantity}}</strong><sup>€</sup></p>
                                                        </div>

                                                    </div>
                                                    <hr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}

                                    </div>
                                    {% if order.orderStatus == null %}
                                        <div class="card-footer bg-warning d-flex justify-content-between" style="font-size: 11px">
                                            <div class="text-white fw-bold">
                                                TOTAL : {{ order.total }}<sup>€</sup>
                                            </div>
                                            <div class="text-white fw-bold">
                                                EN COURS
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-footer bg-success d-flex justify-content-between" style="font-size: 11px">
                                            <div class="text-white fw-bold">
                                                TOTAL : {{ order.total }}<sup>€</sup>
                                            </div>
                                            <div class="text-white fw-bold text-uppercase">
                                                {{ order.orderStatus.status }}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}
