{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="container userInfo">
        <div class="row mt-5 container">
            <div class="col-3 p-0 d-flex flex-column align-items-center">
                <div class="mt-4">
                    <a href="{{ path('admin_user') }}" class="d-flex align-items-center m-3"><i class="far fa-user me-3"></i><p class="m-0">Clients</p></a>
                    <a href="{{ path('admin_order') }}" class="d-flex align-items-center m-3"><i class="fas fa-shipping-fast me-3"></i><p class="m-0">Commandes</p></a>
                    <a href="{{ path('order_waiting') }}" class="d-flex align-items-center m-3 ms-5 newProduct"><i class="fa-regular fa-circle-pause me-2"></i><p class="m-0">En cours</p></a>
                    <a href="{{ path('admin_product') }}" class="d-flex align-items-center m-3"><i class="fas fa-barcode me-3"></i><p class="m-0">Produits</p></a>
                </div>

            </div>
            <div class="col-9 p-0">
                <div class="bg-white m-4">
                    <div class="px-4">
                        <div class="">
                            <h5 class="pt-2 fw-bold">Commande en attente</h5>
                        </div>
                        <div class="py-3">
                            <table class="table table-striped">
                                <thead class="align-items-center">
                                <tr style="font-size: 13px">
                                    <th>Username</th>
                                    <th>Date</th>
                                    <th>Montant</th>
                                    <th>Paiement</th>
                                    <th>Statut</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ order.user.username }}</td>
                                        <td>{{ order.createdAt|date('d/m/Y') }}</td>
                                        <td>{{ order.total }}</td>
                                        <td>{{ order.payment.name }}</td>
                                        <td>
                                            {{ form_start(formOrderEdit) }}
                                            <button type="submit" class="btn btn-success">Modifier</button>
                                            {{ form_end(formOrderEdit) }}


                                        </td>






                                        {#                                        <td>{{ newUser.orders|length}}</td>#}
                                        <td>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/e772130b79.js" crossorigin="anonymous"></script>

{% endblock %}
