{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}
{% form_theme formOrder 'bootstrap_5_layout.html.twig' %}
{% block body %}

    <div class=" py-5 order">
        <div class="container myCart">
            <div class="row container align-items-start justify-content-between">
                <div class="col-12 border border-1 p-0 myCart" style="height: auto">
                    <p class="py-2 m-0 myCartTitle">Récapitulatif de votre commande</p>
                    <div class="container  p-3">
                        <div class="card mb-3">
                            <div class="card-header">
                                1 : Articles
                            </div>
                            <div class="card-body">
                                {% for item  in cartObject %}
                                    <div class="d-flex my-3">
                                        {% for image in item.product.images %}
                                            {% if loop.first %}
                                                <div class="mx-5">
                                                    <img src="{{ vich_uploader_asset(image,'imageFile') }}" alt="" style="width:150px">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="">
                                            <p class="text-lowercase ">{{ item.product.name }}</p>
                                            <p class="">Quantitée : {{ item.quantity }} </p>
                                            <p><strong>Total : {{ (item.product.priceHt * (1+(item.product.tva.rate/100))) * item.quantity}}</strong><sup>€</sup></p>

                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <a href="{{ path('cart') }}" class="btn btn-warning">Modifier</a>
                        </div>


                        <div class="card mb-3">
                            <div class="card-header">
                                2 : Adresse de livraison

                            </div>
                            <div class="card-body">
                                <p>{{ address.number }} {{ address.street }} {{ address.postalCode }} {{ address.city }}</p>
                            </div>
                            <a href="{{ path('cart') }}" class="btn btn-warning">Modifier</a>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                3 : Paiement

                            </div>
                            <div class="card-body">
                                {{ form_start(formOrder) }}
                                {{ form_row((formOrder.payment)) }}
                                <button type="submit" class="btn btn-success">Commander</button>
                                {{ form_end(formOrder) }}
                            </div>

                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
    </div>

{% endblock %}