{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



    <div class="container userInfo">
        <div class="row mt-5 container">
            <div class="col-3 p-0 d-flex flex-column align-items-center">
                <div class="mt-4">
                    <a href="{{ path('user_edit') }}" class="d-flex align-items-center m-3"><i class="fa-regular fa-user me-2"></i><p class="m-0">Modifier mon profil</p></a>
                    <a href="{{ path('app_address') }}" class="d-flex align-items-center m-3"><i class="fa-regular fa-address-book me-2"></i><p class="m-0">Mes adresses</p></a>
                    <a href="{{ path('new_user_address') }}" class="d-flex align-items-center m-3 ms-5 newAddress"><i class="fa-solid fa-folder-plus me-2"></i><p class="m-0">Nouvelle adresse</p></a>
                    <a href="" class="d-flex align-items-center m-3"><i class="fa-regular fa-clipboard me-2"></i><p class="m-0">Mes commandes</p></a>
                </div>

            </div>
            <div class="col-9 p-0">
                <div class="bg-white m-4">
                    <div class="px-4">
                        <div class="">
                            <h5 class="pt-2 fw-bold">Mes adresses</h5>
                        </div>
                        <div class="py-3">
                            {% if app.user.address|length == 0 %}
                            <a href="{{ path('new_user_address') }}" class="btn btn-success">Enregistrez une première adresse...</a>
                            {% else %}
                            {% for address in app.user.address %}
                                <div class="mb-4">
                                    <div class="mb-2">
                                        {{ loop.index }} - {{ address.number }} {{ address.street }} {{ address.postalCode }} {{ address.city }}
                                    </div>
                                        <a href="{{ path('userAddress_edit',{id:address.id}) }}" class="btn btn-warning">Modifier</a>
                                        <a href="{{ path('userAddress_delete',{id:address.id}) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}